<h1>YOURE ARITLCESSSSSSSs</h1>
<ul>
    <h1>Title: {{title}}</h1>
    <h2>{{body}}</h2>
    <h3>by: {{author}}</h3>
</ul>

<form method="POST" action="/articles/{{title}}/edit?_method=PUT">
    <button type="submit">Edit Article</button>
</form>
<br>
<form method="POST" action="/articles/{{title}}?_method=DELETE">
    <button type="submit">Delete Article</button>
</form>
<br>
<a href="/articles">GO BACK BITCH</a>

<style>
    h1 {
        color: indigo;
    }

    h2 {
        color: seagreen;
    }

    h3 {
        color: royalblue;
    }

    a {
        color: red;
    }

    button {
        color: dodgerblue;
        font-size: 15px;
    }
</style>