<h1>YOURE ARITLCESSSSSSSs</h1>
{{#article}}
<h1>Title: {{title}}</h1>
<h2>{{body}}</h2>
<h3>by: {{author}}</h3>
{{/article}}


<button>
    <a class="edit" href="/articles/{{article_id}}/edit">Edit Article
</button>
<br>
<br>
<form method="POST" action="/articles/{{article_id}}?_method=DELETE">
    <button class="delete" type="submit">Delete Article</button>
</form>
<br>
<a href="/articles">GO BACK BITCH</a>

<style>
    h1 {
        color: indigo;
    }

    h2 {
        color: seagreen;
    }

    h3 {
        color: royalblue;
    }

    .edit {
        color: red;
        text-decoration: none;
        font-size: 15px;
    }

    .delete {
        color: dodgerblue;
        font-size: 15px;
    }
</style>