<form method="POST" action="/articles/{{article_id}}?_method=PUT">
    <br> Title:
    <input type="text" name="title" value="{{title}}">
    <br>
    <br> Body:
    <input type="text" name="body" value="{{body}}">
    <br>
    <br> Author:
    <input type="text" name="author" value="{{author}}">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>


<br>
<br>

<a href="/articles/{{article_id}}">GO BACK BITCH</a>