<form method="POST" action="/products/{{id}}?_method=PUT">
    <br> Name:
    <input type="text" name="name" value="{{name}}">
    <br> Price:
    <input type="text" name="price" value={{price}}>
    <br> Inventory:
    <input type="text" name="inventory" value={{inventory}}>
    <br>
    <input type="submit" value="Submit">
</form>


<br>
<br>

<a href="/products/{{id}}">GO BACK BITCH</a>