<h1>YO PRODUCCTTS #{{id}}</h1>

<ul>
    <h1>Item: {{name}}</h1>
    <h2>Price: ${{price}}</h2>
    <h2>In Stock: {{inventory}}</h2>
</ul>


<form method="POST" action="/products/{{id}}/edit?_method=PUT">
    <button type="submit">Edit Product</button>
</form>
<br>
<form method="POST" action="/products/{{id}}?_method=DELETE">
    <button type="submit">Delete Product</button>
</form>
<br>
<a href="/products">GO BACK BITCH</a>

<style>
    h1 {
        color: indigo;
    }

    h2 {
        color: seagreen;
    }

    a {
        color: red;
    }

    button {
        color: dodgerblue;
        font-size: 15px;
    }
</style>