<h1>YO PRODUCCTTS #{{id}}</h1>

<ul>
    <h1>Item: {{name}}</h1>
    <h2>Price: ${{price}}</h2>
    <h2>In Stock: {{inventory}}</h2>
</ul>



<button>
    <a id="edit" href="/products/{{id}}/edit">Edit Product</a>
</button>
<br>
<br>
<form method="POST" action="/products/{{id}}?_method=DELETE">
    <button id="delete" type="submit">Delete Product</button>
</form>
<br>
<a href="/products">GO BACK BITCH</a>

<style>
    h1 {
        color: indigo;
    }

    h2 {
        color: seagreen;
    }

    #edit {
        color: red;
        text-decoration: none;
        font-size: 15px;
    }

    #delete {
        color: dodgerblue;
        font-size: 15px;
    }
</style>